* {
    font-family: Arial;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.mainheader {
    padding: 2rem;
    background-color: rgb(235, 183, 52);
}

.mainheader nav a {
    text-decoration: none;
    padding-right: 2rem;
    color: white;
}

.mainheader nav a:hover {
    color: darkolivegreen;
}
main {
    max-width: 60%;
    margin: 2rem auto 6rem auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background-color: rgb(235, 183, 52);
}

footer nav a {
    text-decoration: none;
    padding-left: 2rem;
    color: black;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

footer nav a:hover {
    color: darkolivegreen;
}